.product {
  position: relative;
  width: 215px;
  height: 370px;
  margin: 10px auto;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  &__info {
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #2967ff;
  }
  &__name {
    margin: 5px 0;
  }
  &__sale {
    font-family: Raleway;
    text-decoration: none;
    font-weight: 600;
    line-height: 140%;
    color: #ff2d87;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    > span {
      font-weight: normal;
      line-height: 122%;
      color: #8d8d8e;
      text-decoration: line-through;
    }
  }
  // z-index: 0;
}
.img {
  height: 215px;
  > img {
    width: 100%;
  }
}

.addBasket {
  width: 214px;
  height: 40px;
  border: 1px solid #2967ff;
  box-sizing: border-box;
  border-radius: 26px;
  margin: 10px 0px;
  font-size: 14px;
  line-height: 140%;
  color: #2967ff;
  background-color: white;
  cursor: pointer;
  &:hover {
    background-color: #f1f3f4;
  }
  &__go {
    margin: 20px 0px;
  }
}
.select {
  padding: 0;
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  background-color: #f0f4fb;
  transition: 0.3s;
  &::-webkit-scrollbar {
    width: 0;
  }
  &__label {
    display: block;
    border-bottom: 1px solid;
    margin-top: 20px;
    padding: 10px 0;
  }
  &__active {
    padding: 15px 10px;
    height: 370px;
  }
  &__button {
    margin: 20px auto;
    padding: 5px 15px;
  }
}

.label {
  border-bottom: 1px solid;
  padding: 5px;
  &__box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
}
